/** @format */

.nav-container {
  width: 100%;
  height: auto;
}
.nav-contents {
  width: 18rem;
  background-color: black;
  height: 100vh;
  position: absolute;
  left: -20rem;
  top: 0;
  z-index: 50;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-contents-active {
  left: 0;
}
.nav-icon {
  width: 25px;

  position: fixed;
  left: 1rem;
  top: 1.5rem;
  z-index: 80;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .navspan {
    display: block;
    background-color: white;
    border-radius: 10px;
    width: 35px;
    height: 4px;
    margin: 3px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.232, 1.6);
  }
  .navspan:nth-of-type(1) {
    width: 60%;
  }
  .navspan:nth-of-type(2) {
    width: 100%;
  }
  .navspan:nth-of-type(3) {
    width: 75%;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ .navspan:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(4px, 2px);
  }

  input[type="checkbox"]:checked ~ .navspan:nth-of-type(2) {
    transform-origin: top;

    transform: rotatez(-45deg);
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(11px, -8px) rotatez(45deg);
  }
}
.nav-items {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-top: 1.8rem;
  ul {
    padding-left: 0rem;

    font-family: "Montserrat", sans-serif;
    li {
      list-style-type: none;
      font-size: 1.4rem;
      letter-spacing: 0.6px;
      font-weight: 500;
      margin: 0.8rem 0;

      color: rgb(255, 255, 255);
      padding: 0.7rem 1.5rem;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      position: relative;
      &::before {
        position: absolute;
        width: 80%;

        height: 0.15rem;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: -1;
        content: "";
        clip-path: polygon(0% 0, 0% 0, 0% 100%, 0% 100%);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
      }
      &:hover::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
      &:hover {
        color: rgb(255, 255, 255);
      }
      &:active {
        transform: scale(0.9);
      }
      &:active::before {
        height: 100%;
      }
    }
  }
}
.nav-profile {
  width: 80%;
  height: 50px;

  position: absolute;
  left: 1.5rem;
  top: 7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 1.5rem;
  font-family: "Montserrat", sans-serif;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aliceblue;
  }
  span {
    font-size: 1.25rem;
    letter-spacing: 0.8px;
    font-weight: 300;
  }
}
