/** @format */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
.create-p_container {
  width: 100%;
  height: auto;
  background-color: rgb(32, 29, 29);
  background-color: #000000;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #030303 600px
    ),
    repeating-linear-gradient(#1f1e1e55, #202020);
}
.create-p_contents {
  width: 100%;
  padding: 2% 0 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    color: white;
    font-size: 2.8rem;
    font-family: "Playfair Display", serif;
    font-weight: 600;

    letter-spacing: 0.7px;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    position: relative;
    &::before {
      position: absolute;
      bottom: -1rem;
      content: "";
      width: 150px;
      left: 50%;
      transform: translateX(-50%);
      height: 0.15rem;
      border-radius: 10px;
      background-color: rgb(170, 170, 170);

      z-index: 50;
    }
  }
}
.create-p_form {
  width: 35rem;
  margin: 3.8rem auto 0;
  height: auto;
  padding: 0 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .create-p_span {
    color: rgb(219, 219, 219);
    display: block;
    align-self: flex-start;
    position: relative;
    right: 0.5rem;
    margin-top: 0.6rem;
    font-size: 0.9rem;
  }
  .create-p_form-contents {
    width: 100%;
    height: 100%;
    gap: 0.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .create-p_uploaded-img {
    width: 100%;
    height: 280px;
    margin-bottom: 1.1rem;
    border: 3px solid #ff2e6209;
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 7px;
  }
  .create-p_uploaded-img-active {
    height: 280px;
  }
  .uploaded-img {
    width: 100%;
    height: 280px;
    object-fit: cover;

    border-radius: 7px;
    animation: animate 1s ease-in-out forwards;

    &:focus {
      width: 100%;
      border: 3px solid white;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.973);
    }
  }
  @keyframes animate {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  input,
  textarea {
    font-family: "Montserrat", sans-serif;
    color: rgba(233, 233, 233, 0.973);

    width: 100%;
    padding: 0.6rem 0.75rem;
    border: 3px solid #ff2e6277;
    background: transparent;
    margin: 0.8rem 0;
    font-size: 1rem;
    border-radius: 7px;
    width: 98%;
    transition: all 0.2s ease-in-out;
    outline: 0;
    &:focus {
      border: 3px solid #ff2e62fd;
    }
    &::placeholder {
      color: rgba(233, 233, 233, 0.973);
    }
  }
  label {
    position: relative;
    right: 0.55rem;
    margin-top: 0.8rem;
    color: rgba(233, 233, 233, 0.973);
    padding: 0.2rem 1rem 0.4rem;
    border-radius: 10px;
    border: 3px solid #ff2e6277;
    align-self: flex-start;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
    transform-origin: center;
    &:hover {
      border: 3px solid #ff2e62fd;
    }
  }
  .create-p_btn {
    padding: 0.7rem 0.8rem 0.6rem;
    margin-top: 0.8rem;
    background-color: #ff2e63;
    color: white;
    border: 3px solid #ff2e63;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      background: transparent;
    }
    &:active {
      transform: scale(0.9);
    }
    .create-p_icon {
      font-size: 1.1rem;
    }
  }
  .upload_img {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    &:focus {
      width: 100%;
      border: 0px solid rgba(255, 255, 255, 0);
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0);
    }
  }
}
:root {
  --swiper-navigation-size: 28px !important;
  --swiper-theme-color: #ff2e63 !important;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(238, 238, 238, 0.993);
  padding: 0.35rem 0.65rem;

  border-radius: 50%;
}
.innerdiv-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Montserrat", sans-serif;
  p {
    font-weight: 600;
    font-size: 1.55rem;
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
  .percentage-up {
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(126, 126, 126);
  }
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 25px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0) scale(0.6);
}
.loader:before,
.loader:after {
  position: absolute;
  content: "";
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #c4c4c4;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
@keyframes animatecircle {
  0% {
    background: #242323;
  }
  25% {
    background: #941616;
  }
  50% {
    background: #269435;
  }
  75% {
    background: #e06d6d;
  }
  100% {
    background: #2c146b;
  }
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ebebeb;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
