/** @format */
:root {
  --redcolor: "ff2e63";
}

.selproduct-container {
  width: 100%;
  top: 0rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.918);
  padding-bottom: 2rem;
}

.selproduct-contents {
  width: 85%;
  height: 100%;
  margin: 3rem 0;

  background-color: #fefefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4rem;
  position: relative;

  box-shadow: rgba(0, 0, 0, 0.068) 0px 0px 50px -12px;
  border-radius: 10px;
  position: relative;
  .selproduct-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    .selproduct-close_icon {
      cursor: pointer;
      font-size: 1.4rem;
      padding: 0.4rem;
      border: 2px solid rgba(211, 211, 211, 0);
      border-radius: 50%;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      &:hover {
        border: 2px solid lightgray;
        color: #ff2e63;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
.selproduct-img {
  padding-left: 3.5rem;
  padding-right: 0.5rem;
  width: 500px;
  height: 100%;
  position: relative;

  .selproduct-main_img {
    width: 100%;

    height: 350px;
    object-fit: cover;
  }
}
.selproduct-details {
  width: 50%;
  margin-top: 5rem;
  padding-right: 1rem;
  h2 {
    margin-top: 0;
    margin-bottom: 0.8rem;
    font-family: "Newsreader", serif;
    font-size: 2.4rem;
    font-weight: 600;
  }
  .p_desp {
    display: block;
    width: 90%;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    font-size: 1rem;
  }
}
.selproduct-actions {
  margin-top: 1.1rem;

  display: flex;
  align-self: flex-end;
  gap: 0 0.9rem;
  .selproduct-fav_icon,
  .selproduct-cart_icon,
  .selproduct-like_icon {
    font-size: 1.31rem;
    color: #e93d68;
    padding: 0.3rem;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

    border-radius: 50%;
    border: 2px solid rgba(211, 211, 211, 0);
    &:active {
      transform: scale(0.9);
    }
    &:hover {
      border: 2px solid lightgrey;
    }
  }
  .selproduct-cart_icon {
    padding-right: 0.4rem;
  }
}
.selproduct-like_div {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  span {
    font-weight: 600;
    opacity: 0.4;
  }
}
.selproduct-usage {
  font-family: "Montserrat", sans-serif;

  color: rgb(182, 182, 182);
  width: 100%;
  margin-top: 1.4rem;
  h3 {
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .selproduct-likes {
    width: auto;
    min-height: 240px;
    overflow-y: auto;
    background-color: rgb(253, 253, 253);
    padding: 1rem;
    padding-top: 0.5rem;
    padding-left: 0;
    padding-bottom: 0.8rem;
    padding-right: 4rem;
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  .selproduct-likes_user {
    min-height: 30px;
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin: 0 0 0.95rem;

    border: 3px solid rgba(211, 211, 211, 0.144);
    border-radius: 7px;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
    &:hover {
      border: 3px solid rgba(248, 55, 55, 0.151);
      // box-shadow: rgba(0, 0, 0, 0.151) 0px 25px 50px -12px;
    }
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
    span {
      color: black;
      font-weight: 500;
      letter-spacing: 0.4px;
      font-size: 0.9rem;
      text-transform: capitalize;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      transform-origin: left;
      &:hover {
        color: red;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
.sel-product_rating {
  margin-top: 1.5rem;
  font-family: "Montserrat", sans-serif;
  span {
    margin-left: 0.8rem;
    font-weight: 400;
    opacity: 0.6;
  }
  p {
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
    width: 6rem;
    margin: 0.5rem 0 0;

    &:hover {
      color: #ff2e63;
    }
  }
}
.sel-product-views_container {
  margin: 0.9rem 0 0;
  display: flex;
  align-items: center;
  opacity: 0.4;
  gap: 0 0.2rem;
  span {
    font-weight: 500;
    font-size: 0.95rem;
    margin-bottom: 0.1rem;
  }
}
.sel-product_views {
  padding: 0.4rem;
  font-size: 1.35rem;
}
