/** @format */
:root {
  --redcolor: "ff2e63";
}

.selproduct-container {
  position: absolute;
  width: 100%;
  top: 0rem;
  min-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.selproduct-contents {
  width: 85%;
  height: 100%;
  margin: 3rem 0;
  background-color: #fefefefe;
  display: flex;
  align-items: center;
  gap: 0 4rem;
  position: relative;

  box-shadow: rgba(0, 0, 0, 0.068) 0px 0px 50px -12px;
  border-radius: 10px;
  position: relative;
  .selproduct-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    .selproduct-close_icon {
      cursor: pointer;
      font-size: 1.4rem;
      padding: 0.4rem;
      border: 2px solid rgba(211, 211, 211, 0);
      border-radius: 50%;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      &:hover {
        border: 2px solid lightgray;
        color: #ff2e63;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
.selproduct-img {
  padding-left: 4rem;

  width: 500px;
  height: 100%;
  position: relative;

  .selproduct-main_img {
    width: 100%;

    height: 350px;
    object-fit: cover;
  }
}
.selproduct-details {
  width: 50%;
  margin-top: 3.8rem;

  h2 {
    margin-top: 0;
    margin-bottom: 0.8rem;
    font-family: "Newsreader", serif;
    font-size: 2.2rem;
    font-weight: 600;
  }
  span {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    font-size: 1rem;
  }
}
.selproduct-actions {
  margin-top: 1.1rem;

  display: flex;
  align-self: flex-end;
  gap: 0 0.9rem;
  .selproduct-fav_icon,
  .selproduct-cart_icon,
  .selproduct-like_icon {
    font-size: 1.4rem;
    color: #e02957;
    padding: 0.3rem;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

    border-radius: 50%;
    border: 2px solid rgba(211, 211, 211, 0);
    &:active {
      transform: scale(0.9);
    }
    &:hover {
      border: 2px solid lightgrey;
    }
  }
  .selproduct-cart_icon {
    padding-right: 0.4rem;
  }
}
.selproduct-usage {
  font-family: "Montserrat", sans-serif;

  color: rgb(128, 128, 128);
  width: 100%;
  margin-top: 1.4rem;
  h3 {
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .selproduct-likes {
    width: 80%;
    min-height: 240px;
    overflow-y: auto;
    background-color: rgb(253, 253, 253);
    padding: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.8rem;
    padding-right: 4rem;
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  .selproduct-likes_user {
    min-width: 150px;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin: 0 0 1rem;
    box-shadow: 0px 00px 20px rgba(0, 0, 0, 0.034);
    border: 3px solid rgba(211, 211, 211, 0.123);
    border-radius: 10px;
    padding: 0.4rem 0.8rem;
    &:hover {
      border: 3px solid rgba(247, 7, 7, 0.116);
    }
    img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
    }
    span {
      color: black;
      font-weight: 500;
      letter-spacing: 0.4px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      transform-origin: left;
      &:hover {
        color: red;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
.sel-product_rating {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0 0.8rem;
}
.sel-product-views_container {
  margin: 0.9rem 0 0;
  display: flex;
  align-items: center;
  opacity: 0.4;
  gap: 0 0.2rem;
  span {
    font-weight: 500;
    font-size: 0.95rem;
    margin-top: 0.2rem;
  }
}
.sel-product_views {
  padding: 0.4rem;
  font-size: 1.35rem;
}
